@inherits TopNavBase

@if (category != null)
{
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 navbar-expand-md">
        <div class="navbar-brand d-flex align-items-center justify-content-between col-sm-12 col-md-2 mr-0">
            <a class="mr-1 d-md-none text-light" href="#sidenav" data-toggle="collapse" data-target="#sidenav">
                <span data-feather="menu" class="my-1"></span>
            </a>
            <a class="text-light" href="">Company</a>
            <a class="navbar-toggler border-0 p-0" href="#topnav" data-toggle="collapse" data-target="#topnav">
                <span data-feather="menu" class="my-1"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="topnav">
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3 py-2">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
          
        </div>

    </nav>



    <div class="container-fluid">
        <div class="row navbar-expand-md">
            <nav class="col-md-3 col-lg-2 bg-light navbar-collapse collapse" id="sidenav" >
                <div class="sidebar-sticky flex-column w-100 mt-1">
                        
                            @foreach (Startup_models.Categories parent in category)
                            {
                                if (parent.Parent_Id == 0)
                                {
                                    <ul class="nav flex-column" style="margin-bottom:5%;">
                                        <li class="drop-nav nav-item">
                                           
                                                <NavLink class="nav-link" href="@($"{parent.Category_Name}/{parent.Id}")" Match="NavLinkMatch.All">
                                                     @parent.Category_Name
                                                    <button class="btn" style="float:right;border:thin"> <i class="fa fa-caret-right"></i> </button>
                                                </NavLink>
                                           
                                            @{getChild(parent);}
                                        </li>

                                    </ul>
                                }


                            }


                            @{

                                void getChild(Startup_models.Categories parent)
                                {

                                    var children = category.Where(e => e.Parent_Id == parent.Id).OrderBy(e => e.Id);

                                    if (children != null && children.Any())
                                    {

                                        <ul class="nav flex-column">
                                            @foreach (Startup_models.Categories child in children)
                                            {

                                                <li class="drop-nav nav-item">
                                                    <NavLink class="nav-link" href="@child.Category_Name" Match="NavLinkMatch.All">
                                                        @child.Category_Name
                                                        @{ 
                                                            var check = category.Where(e => e.Parent_Id == child.Id).OrderBy(e => e.Id);
                                                            if (check != null && check.Any())
                                                            { <button class="btn" style="float:right;border:thin"> <i class="fa fa-caret-right"></i> </button> }
                                                            
                                                        }
                                                    </NavLink>
                                                    
                                                    @{getChild(child); }
                                                </li>
                                            }
                                        </ul>
                                    }
                                }


                            }

               
                       
                    

                    </div>
</nav>


        </div>
    </div>


                    @*<div class="sidenav">
                            <a href="#about">About</a>
                            <a href="#services">Services</a>
                            <a href="#clients">Clients</a>
                            <a href="#contact">Contact</a>
                            @foreach (Startup_models.Categories category in category)
                            {

                                @if (category.Parent_Id == -1)
                                {
                                    <ul class="dropdown-btn" @onclick="click">
                                        <li> @category.Category_Name</li>
                                         @{getChild(category);
                                         }
                                    </ul>
                                }


                            }

                            @{

                                void getChild(Startup_models.Categories parent)
                                {

                                    var children = category.Where(e => e.Parent_Id == parent.Id).OrderBy(e => e.Id);

                                    @if (children != null && children.Any())
                                    {
                                        <ul style="display:@show">

                                    @foreach (Startup_models.Categories child in children)
                                    {

                                            <li>
                                                @child.Category_Name
                                            </li>

                                            getChild(child);


                                    }

                                     </ul>
                                    }
                                }


                            }

                            <a href="#contact">Search</a>
                        </div>*@
                }

@code {

    
    private string show = "none";

    List<String> divClass = new List<string>();

    private void click()
    {

        if (show == "none")
        {
            show = "block";
        }
        else
        {
            show = "none";
        }

    }





}
