@page "/{name}/{id}"
@inherits ParentDetailBase


<h3>@name</h3>

@if (category == null || linkRepositories == null)
{
    <div class="spinner-grow">Loading..</div>
}
else
{
    

    @foreach (var subcategory in category)
    {

        <table>

            <tr>
                <th>

                    <NavLink class="nav-link" href="@($"{subcategory.Category_Name}/{subcategory.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(subcategory.Category_Name, subcategory.Id.ToString()))">
                        <span class="oi" aria-hidden="true"></span> @subcategory.Category_Name
                    </NavLink>

                </th>
                <td>

                    @foreach (var link in linkRepositories)
                    {
                        @if (link.categoriesId == subcategory.Id)
                        {


                            <NavLink class="nav-link" href="@($"{link.link}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(link.link,link.Id.ToString()))">
                                <span class="oi" aria-hidden="true"></span> @link.link
                            </NavLink>


                        }

                    }

                </td>

            </tr>

        </table>


    }




}

@code{

    @inject NavigationManager NavigationManager;

    private void HandleClick(string name, string id)
    {
        NavigationManager.NavigateTo($"{name}/{id}", true);
    }


}