@inherits ParentsNav
@if (categories_list != null)
{



    @foreach (var parent in categories_list.ToList())
    {

        if (parent.Parent_Id != 0) { continue; }
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"{parent.Category_Name}/{parent.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(parent.Category_Name,parent.Id.ToString()))">
                    <span class="oi" aria-hidden="true"></span> @parent.Category_Name  @categories_list.Count()
                </NavLink>


                @foreach (var sub_cat_1 in categories_list.ToList())
                {

                    if (sub_cat_1.Parent_Id == parent.Id)
                    {
                        <ul>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="@($"{sub_cat_1.Category_Name}/{sub_cat_1.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(sub_cat_1.Category_Name,sub_cat_1.Id.ToString()))">
                                    <span class="oi" aria-hidden="true"></span> @sub_cat_1.Category_Name
                                </NavLink>


                                @foreach (var sub_cat_2 in categories_list.ToList())
                                {

                                    if (sub_cat_2.Parent_Id == sub_cat_1.Id)
                                    {
                                        <ul>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="@($"{sub_cat_2.Category_Name}/{sub_cat_2.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(sub_cat_2.Category_Name,sub_cat_2.Id.ToString()))">
                                                    <span class="oi" aria-hidden="true"></span> @sub_cat_2.Category_Name
                                                </NavLink>

                                                @foreach (var sub_cat_3 in categories_list.ToList())
                                                {

                                                    if (sub_cat_3.Parent_Id == sub_cat_2.Id)
                                                    {
                                                        <ul>
                                                            <li class="nav-item px-3">
                                                                <NavLink class="nav-link" href="@($"{sub_cat_3.Category_Name}/{sub_cat_3.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(sub_cat_3.Category_Name,sub_cat_3.Id.ToString()))">
                                                                    <span class="oi" aria-hidden="true"></span> @sub_cat_3.Category_Name
                                                                </NavLink>


                                                                @foreach (var sub_cat_4 in categories_list.ToList())
                                                                {

                                                                    if (sub_cat_4.Parent_Id == sub_cat_3.Id)
                                                                    {
                                                                        <ul>
                                                                            <li class="nav-item px-3">
                                                                                <NavLink class="nav-link" href="@($"{sub_cat_4.Category_Name}/{sub_cat_4.Id}")" Match="NavLinkMatch.All" @onclick="(() => HandleClick(sub_cat_4.Category_Name,sub_cat_4.Id.ToString()))">
                                                                                    <span class="oi" aria-hidden="true"></span> @sub_cat_4.Category_Name
                                                                                </NavLink>

                                                                            </li>
                                                                        </ul>

                                                                        categories_list.Remove(sub_cat_4);

                                                                    }



                                                                }

                                                            </li>
                                                        </ul>

                                                        categories_list.Remove(sub_cat_3);
                                                    }



                                                }


                                            </li>
                                        </ul>

                                        categories_list.Remove(sub_cat_2);
                                    }



                                }


                            </li>
                        </ul>
                        categories_list.Remove(sub_cat_1);
                    }



                }
            </li>

        </ul>
        categories_list.Remove(parent);


    }
}
}
@code {


    @inject NavigationManager NavigationManager;


    private void HandleClick(string name, string id)
    {
        NavigationManager.NavigateTo($"{name}/{id}", true);
    }




}